@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Aluno</p>
<p>@ViewData["email"]</p>

<address>
    <strong>More Information : </strong><a>EducandoWeb.com.br</a>
</address>